<h1>About</h1>
<p>
	<%= link_to "Govtinaction", "http://govtinaction.com" %>
	is a project designed to put a number on inefficiency in the Federal Government. Stories and attributed waste figures should be considered purely anecdotal in nature and cannot be verified with definitive accuracy by our staff. Any attempt by individuals to submit false information in order to hyperbolize or otherwise distort this project will result in the removal of their submissions and possible cancellation of their account to the best of our ability.  (insert statement of our philosphy on goverment or something maybe?)