<div class="hero-unit">
	<h1>Welcome to Govtinaction</h1>

	<p>
		Your live look at bureaucratic inefficiency
	</p>
	<p>
		<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>
</div>