<div class="hero-unit">
	<h1>Welcome to greenigle.com</h1>

	<p>
		Making a greener economy reality
	</p>
	<p>
		<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>
</div>